[flake8]
format = "wemake"
show-source = true

ignore =
    E133,
    C812,
    EXE001,
    W503,
    WPS111,
    WPS221,
    WPS305,
    WPS326,
    WPS332,
    WPS348,
    WPS352,
    WPS410,
    WPS430,
    WPS437,
exclude = nautc_txt.py
max-line-length = 79
max-doc-length = 70
select =
    E,
    F,
    W,
    C
doctests = True
max-complexity = 15
